article(class="About", id="proyect")
	div(class="About-container")
		div(class="About-title afterLineDecoration") Bosque de Tepepan
		div(class="About-presentation") 
			p(class="About-paragraph") Disfruta de la mejor forma de vivir y convivir en una de las mejores zonas y con mayor plusvalía del Sur de la Ciudad de México, muy cerca de uno de los principales pulmones de la Ciudad, con todos los servicios a tu alcance.
			p(class="About-paragraph") En BOSQUES DE TEPEPAN es tu mejor elección y sin duda es la mejor opción.
			p(class="About-paragraph") Diseño innovador y vanguardista, en conjunto con la naturaleza y la garantía de una inversión inteligente, todo esto y más es Bosques de Tepepan.

		div(class="About-subContainer")
			div(class="About-photo About-bioContainer")
				img(src="../public/images/proyecto/Corte_Departamento_Loft_Bosque_de_Tepepan.png", alt="", class="About-image")
			div(class="About-biography About-bioContainer")
				div(class="About-biographyName") BOSQUES DE TEPEPAN
				div(class="About-biographySkills") Slogan
				div(class="About-biographyText") BOSQUES DE TEPEPAN ofrece un desarrollo 100% habitacional, con departamentos funcionales de 2 y 3 recámaras, con excelentes acabados, de las mejores marcas del mercado, exclusivos amenities, 15,000m2 de áreas verdes, seguridad inteligente y una vista inmejorable que podrás disfrutar desde la comodidad de tu hogar.