section(id="diagrams", class="Diagrams")
	div(class="Diagrams-container")
		h2(class="Diagrams-title afterLineDecoration") Diagramas
		div(class="Diagrams-gallery" id="gallery")
			div(class="Diagrams-containerImage ")
				a(href="../public/images/diagrams/Diagrama_Bosques_De_Tepepan1.jpg", title="Diagramas", class="Diagrams-linkImage", data-lightbox="example-2")
					img(src="../public/images/diagrams/Diagrama_Bosques_De_Tepepan1.jpg", class="Diagrams-image")

				a(href="../public/images/diagrams/Diagrama_Bosques_De_Tepepan2.jpg", title="Diagramas", class="Diagrams-linkImage", data-lightbox="example-2")
					img(src="../public/images/diagrams/Diagrama_Bosques_De_Tepepan2.jpg", class="Diagrams-image")

				a(href="../public/images/diagrams/Diagrama_Bosques_De_Tepepan3.jpg", title="Diagramas", class="Diagrams-linkImage", data-lightbox="example-2")
					img(src="../public/images/diagrams/Diagrama_Bosques_De_Tepepan3.jpg", class="Diagrams-image")

				a(href="../public/images/diagrams/Diagrama_Bosques_De_Tepepan4.jpg", title="Diagramas", class="Diagrams-linkImage", data-lightbox="example-2")
					img(src="../public/images/diagrams/Diagrama_Bosques_De_Tepepan4.jpg", class="Diagrams-image")

				a(href="../public/images/diagrams/Diagrama_Bosques_De_Tepepan5.jpg", title="Diagramas", class="Diagrams-linkImage", data-lightbox="example-2")
					img(src="../public/images/diagrams/Diagrama_Bosques_De_Tepepan5.jpg", class="Diagrams-image")

				a(href="../public/images/diagrams/Diagrama_Bosques_De_Tepepan6.jpg", title="Diagramas", class="Diagrams-linkImage", data-lightbox="example-2")
					img(src="../public/images/diagrams/Diagrama_Bosques_De_Tepepan6.jpg", class="Diagrams-image")

				a(href="../public/images/diagrams/Diagrama_Bosques_De_Tepepan7.jpg", title="Diagramas", class="Diagrams-linkImage", data-lightbox="example-2")
					img(src="../public/images/diagrams/Diagrama_Bosques_De_Tepepan7.jpg", class="Diagrams-image")

				a(href="../public/images/diagrams/Diagrama_Bosques_De_Tepepan8.jpg", title="Diagramas", class="Diagrams-linkImage", data-lightbox="example-2")
					img(src="../public/images/diagrams/Diagrama_Bosques_De_Tepepan8.jpg", class="Diagrams-image")

				a(href="../public/images/diagrams/Diagrama_Bosques_De_Tepepan9.jpg", title="Diagramas", class="Diagrams-linkImage", data-lightbox="example-2")
					img(src="../public/images/diagrams/Diagrama_Bosques_De_Tepepan9.jpg", class="Diagrams-image")