footer(class="Footer")
	div(class="Footer-container")
		div(class="Footer-networking")
			ul(class="Footer-networkingList")
				li(class="Footer-networkingItem")
					a(href="https://www.facebook.com/BosquesDeTepepan/?fref=ts", target="_blank" class="Footer-networkingLink icon-facebook facebook")
				li(class="Footer-networkingItem")
					a(href="https://twitter.com/bosquestepepan",target="_blank"  class="Footer-networkingLink icon-twitter2 twitter")
				li(class="Footer-networkingItem")
					a(href="#", class="Footer-networkingLink icon-play youtube")
		div(class="Footer-menu")
			ul(class="Footer-list")
				li(class="Footer-item")
					a(href="#proyect", class="Footer-link") proyecto
				li(class="Footer-item")
					a(href="#space", class="Footer-link") espacio
				li(class="Footer-item")
					a(href="#amenities", class="Footer-link") amenidades
				li(class="Footer-item")
					a(href="#decorations", class="Footer-link") acabados
				li(class="Footer-item")
					a(href="#sustainability", class="Footer-link") sustentabilidad
				li(class="Footer-item")
					a(href="#diagrams", class="Footer-link") diagramas
				li(class="Footer-item")
					a(href="#contact", class="Footer-link") contacto

		div(class="Footer-contact")
			ul(class="Footer-contactList")
				li(class="Footer-contactItem")
					a(href="tel:+525528371046", class="Footer-contactLink icon-phoneGlyphs") (55) 2837-1046
				li(class="Footer-contactItem")
					a(href="mailto:contacto@bosquesdetepepan.com.mx", class="Footer-contactLink lower icon-envelope") contacto@bosquesdetepepan.com.mx
		div(class="Footer-content")
			div(class="Footer-contentImage")
				img(src="../public/images/logos/al.png", alt="", class="Footer-image")
				img(src="../public/images/logos/AHPatrimonia.png", alt="", class="Footer-image")
				p(class="Footer-contentLegent") 2016 © todos los derechos reservados
