nav(class="Menu")
	div(class="Menu-rectangle")
	div(id="", class="Menu-mobileContainer isActive")
		button(class="Menu-mobileButton isActiveMenuButton", id="showMenu")
	a(href="#home", class="Menu-logoContainer")
		img(src="../public/images/logos/logo_Bosque_Tepepan.png", alt="", class="Menu-mobileLogo wow bounceInRight animated")
		img(src="../public/images/logos/logo_Bosque_Tepepan.png", alt="", class="Menu-largeLogo slideInRight")
	ul(class="Menu-list", id="menu")
		li(class="Menu-item")
			a(href="#proyect", class="Menu-link") proyecto
		li(class="Menu-item")
			a(href="#space", class="Menu-link") espacio
		li(class="Menu-item")
			a(href="#amenities", class="Menu-link") amenidades
		li(class="Menu-item")
			a(href="#decorations", class="Menu-link") acabados
		li(class="Menu-item")
			a(href="#sustainability", class="Menu-link") sustentabilidad
		li(class="Menu-item")
			a(href="#diagrams", class="Menu-link") diagramas
		li(class="Menu-item")
			a(href="#contact", class="Menu-link") contacto