article(class="Space" id="space")
	div(class="Space-container")
		div(class="Space-containerTitle")
			h2(class="Space-title afterLineDecoration") Elige tu espacio
		div(class="Space-subContainer")
			h3(class="Space-subtitle") Diseño
			p(class="Space-paragraph") Los departamentos, se caracterizan por tener un diseño contemporáneo combinado con la mejor distribución adaptada a tus necesidades, creando espacios cómodos y funcionales.
			p(class="Space-paragraph") En <span class="Strong">BOSQUES DE TEPEPAN</span> cuidamos todos los detalles, añadiendo un valor agregado al desarrollo y poniendo la mejor plusvalía en tus manos.
		div(class="Space-contaimerImages")
			img(src="../public/images/space/backSpace_Bosques_de_Tepepan.jpg", alt="Espacios Bosques de Tepepan" class="Space-image")