div(class="Counter-images")
	div(class="Counter-container")
		div(class="Counter-containerWrapper")
			div(class="Counter-wrapper")
				div(class="Counter-wrapperIcon Counter-item icon-display")
					//- img(src="../public/images/icons/computer-imac.svg" class="Counter-icon", alt="")
				div(id="itemOne", class="Counter-wrapperNumber Counter-item") 19
				div(class="Counter-wrapperText") projects completed
			div(class="Counter-wrapper")
				div(class="Counter-wrapperIcon Counter-item icon-user")
					//- img(src="../public/images/icons/smiley.svg" class="Counter-icon", alt="")
				div(id="itemTwo", class="Counter-wrapperNumber Counter-item") 10
				div(class="Counter-wrapperText Counter-item") satisfied customers
			div(class="Counter-wrapper")
				div(class="Counter-wrapperIcon Counter-item icon-cup")
					//- img(src="../public/images/icons/drink-coffee.svg" class="Counter-icon", alt="")
				div(id="itemTree", class="Counter-wrapperNumber Counter-item") 1352
				div(class="Counter-wrapperText Counter-item") cups of coffee
			div(class="Counter-wrapper")
				div(class="Counter-wrapperIcon Counter-item icon-camera2")
					//- img(src="../public/images/icons/camera.svg" class="Counter-icon", alt="")
				div(id="itemFour", class="Counter-wrapperNumber Counter-item") 246
				div(class="Counter-wrapperText Counter-item") shots captured