section(id="sustainability", class="Sustainability")
	div(class="Sustainability-container")
		h2(class="Sustainability-title afterLineDecoration") Sustentabilidad
		div(class="Sustainability-gallery" id="gallery")
			div(class="Sustainability-containerImage ")
				a(href="../public/images/sustainability/sustainability_Bosques_De_Tepepan1.jpg", title="Sustentabilidad", class="Sustainability-linkImage", data-lightbox="example-2")
					img(src="../public/images/sustainability/sustainability_Bosques_De_Tepepan1.jpg", class="Sustainability-image")

				a(href="../public/images/sustainability/sustainability_Bosques_De_Tepepan2.jpg", title="Sustentabilidad", class="Sustainability-linkImage", data-lightbox="example-2")
					img(src="../public/images/sustainability/sustainability_Bosques_De_Tepepan2.jpg", class="Sustainability-image")

				a(href="../public/images/sustainability/sustainability_Bosques_De_Tepepan3.jpg", title="Sustentabilidad", class="Sustainability-linkImage", data-lightbox="example-2")
					img(src="../public/images/sustainability/sustainability_Bosques_De_Tepepan3.jpg", class="Sustainability-image")

				a(href="../public/images/sustainability/sustainability_Bosques_De_Tepepan4.jpg", title="Sustentabilidad", class="Sustainability-linkImage", data-lightbox="example-2")
					img(src="../public/images/sustainability/sustainability_Bosques_De_Tepepan4.jpg", class="Sustainability-image")

				a(href="../public/images/sustainability/sustainability_Bosques_De_Tepepan5.jpg", title="Sustentabilidad", class="Sustainability-linkImage", data-lightbox="example-2")
					img(src="../public/images/sustainability/sustainability_Bosques_De_Tepepan5.jpg", class="Sustainability-image")

				a(href="../public/images/sustainability/sustainability_Bosques_De_Tepepan6.jpg", title="Sustentabilidad", class="Sustainability-linkImage", data-lightbox="example-2")
					img(src="../public/images/sustainability/sustainability_Bosques_De_Tepepan6.jpg", class="Sustainability-image")

				a(href="../public/images/sustainability/sustainability_Bosques_De_Tepepan7.jpg", title="Sustentabilidad", class="Sustainability-linkImage", data-lightbox="example-2")
					img(src="../public/images/sustainability/sustainability_Bosques_De_Tepepan7.jpg", class="Sustainability-image")