section(id="decorations", class="Decorations")
	div(class="Decorations-container")
		h2(class="Decorations-title afterLineDecoration") Acabados
		div(class="Decorations-gallery" id="gallery")
			h2(class="Decorations-subtitle middleLine") Cocina
			div(class="Decorations-containerImage ")
				a(href="../public/images/decorations/kitchen/Acabados_Cocina1_Bosques_de_Tepepan.jpg", title="Hoal", class="Decorations-linkImage", data-lightbox="example-2", data-title="Piso 1.")
					img(src="../public/images/decorations/kitchen/Acabados_Cocina1_Bosques_de_Tepepan.jpg", class="Decorations-image")
				a(href="../public/images/decorations/kitchen/Acabados_Cocina2_Bosques_de_Tepepan.jpg", title="Hoal", class="Decorations-linkImage", data-lightbox="example-2", data-title="Piso 1.")
					img(src="../public/images/decorations/kitchen/Acabados_Cocina2_Bosques_de_Tepepan.jpg", class="Decorations-image")
				a(href="../public/images/decorations/kitchen/Acabados_Cocina3_Bosques_de_Tepepan.jpg", title="Hoal", class="Decorations-linkImage", data-lightbox="example-2", data-title="Piso 1.")
					img(src="../public/images/decorations/kitchen/Acabados_Cocina3_Bosques_de_Tepepan.jpg", class="Decorations-image")

			h2(class="Decorations-subtitle middleLine") Piso
			div(class="Decorations-containerImage ")
				a(href="../public/images/decorations/floor/Acabados_Piso1_Bosques_de_Tepepan.jpg", title="Hoal", class="Decorations-linkImage", data-lightbox="example-2", data-title="Piso 1.")
					img(src="../public/images/decorations/floor/Acabados_Piso1_Bosques_de_Tepepan.jpg", class="Decorations-image")
				a(href="../public/images/decorations/floor/Acabados_Piso2_Bosques_de_Tepepan.jpg", title="Hoal", class="Decorations-linkImage", data-lightbox="example-2", data-title="Piso 1.")
					img(src="../public/images/decorations/floor/Acabados_Piso2_Bosques_de_Tepepan.jpg", class="Decorations-image")

			h2(class="Decorations-subtitle middleLine") Baño
			div(class="Decorations-containerImage ")
				a(href="../public/images/decorations/batroom/Acabados_Bano_Bosques_de_Tepepan.jpg", title="Hoal", class="Decorations-linkImage", data-lightbox="example-2", data-title="Piso 1.")
					img(src="../public/images/decorations/batroom/Acabados_Bano_Bosques_de_Tepepan.jpg", class="Decorations-image")


