section(id="contact", class="Contact")
	div(class="Contact-container")
		div(class="Contact-images")
			h3(class="Contact-title afterLineDecoration") DÉJANOS UN COMENTARIO
			p(class="Contact-paragraph") ¿Tienes alguna duda? Déjanos un comentario y con gusto te atenderemos.
			div(class="Contact-containerForm")
				form(action="", method="post", class="Contact-contactForm")
					label(class="Contact-label") nombre
					input(type="text", class="Contact-contactInput")
					label(class="Contact-label") correo electronico
					input(type="email", class="Contact-contactInput")
					label(class="Contact-label") telefono
					input(type="number", class="Contact-contactInput")
					label(class="Contact-label") movil
					input(type="number", class="Contact-contactInput")
					label(class="Contact-label") mensaje
					input(type="textarea", class="Contact-contactInput")
					input(type="submit", class="Contact-contactButton") Enviar comentario