article(class="Amenities" id="amenities")
	div(class="Amenities-container")
		div(class="Amenities-containerTitle")
			h2(class="Amenities-title afterLineDecoration") Amenidades
		div(class="Amenities-subContainer")
			div(class="Amenities-contaimerImages left")
				img(src="../public/images/amenities/Amenidades_Kids_Club_Bosques_de_Tepepan.JPG", alt="Amenidades Bosques de Tepepan" class="Amenities-image")
			div(class="Amenities-contaimerText right")
				h2(class="Amenities-subtitle") Áreas Verdes
				p(class="Amenities-paragraph") Para que disfrutes las áreas exteriores en compañia de los pequeños habra áreas con juegos infantiles y areneros. Si te gusta leer o simplemente disfrutar la naturaleza contaras con equipamiento urbano e iluminación.
				div(class="Amenities-buttonContainer")
					a(href="#contact", class="Amenities-button") Contacto

		div(class="Amenities-subContainer")
			div(class="Amenities-contaimerImages right")
				img(src="../public/images/amenities/Amenidades_Alberca_Bosques_de_Tepepan.JPG", alt="Amenidades Bosques de Tepepan" class="Amenities-image")
			div(class="Amenities-contaimerText left")
				h2(class="Amenities-subtitle") Alberca
				p(class="Amenities-paragraph") Empieza tu día disfrutando de los beneficios de la natación en las albercas, que cuentan con carriles de nado diseñados para mantenerte en forma.
				div(class="Amenities-buttonContainer")
					a(href="#contact", class="Amenities-button") Contacto

		div(class="Amenities-subContainer")
			div(class="Amenities-contaimerImages left")
				img(src="../public/images/amenities/Amenidades_Salon_Bosques_de_Tepepan.JPG", alt="Amenidades Bosques de Tepepan" class="Amenities-image")
			div(class="Amenities-contaimerText right")
				h2(class="Amenities-subtitle") Salón de Usos Múltiples
				p(class="Amenities-paragraph") Pensando en que vivas tus reuniones al máximo, el salón de usos múltiples contará con todas las instalaciones necesarías para tus eventos sociales, contará con los servicios de cocineta, baños para hombres y mujeres.
				div(class="Amenities-buttonContainer")
					a(href="#contact", class="Amenities-button") Contacto

		div(class="Amenities-subContainer")
			div(class="Amenities-contaimerImages right")
				img(src="../public/images/amenities/Amenidades_GYM_Bosques_de_Tepepan.JPG", alt="Amenidades Bosques de Tepepan" class="Amenities-image left")
			div(class="Amenities-contaimerText")
				h2(class="Amenities-subtitle") Gimnasio
				p(class="Amenities-paragraph") Sabemos que mantenerse en forma es primordial para ti, utliza el gimnasio mientras contemplas las áreas verdes. Contará con área cardiovascular, mancuernas y fitness.
				div(class="Amenities-buttonContainer")
					a(href="#contact", class="Amenities-button") Contacto

		div(class="Amenities-subContainer")
			div(class="Amenities-contaimerImages left")
				img(src="../public/images/amenities/Amenidades_Cafeteria_Bosques_de_Tepepan.JPG", alt="Amenidades Bosques de Tepepan" class="Amenities-image")
			div(class="Amenities-contaimerText right")
				h2(class="Amenities-subtitle") Cafetería
				p(class="Amenities-paragraph") Un lugar ideal para convivir de manera tranquila, en un ambiente agradable con tu familia y amigos en el momento que tu prefieras.
				div(class="Amenities-buttonContainer")
					a(href="#contact", class="Amenities-button") Contacto

		div(class="Amenities-subContainer")
			div(class="Amenities-contaimerImages right")
				img(src="../public/images/amenities/Amenidades_Kids_Club_Bosques_de_Tepepan.JPG", alt="Amenidades Bosques de Tepepan" class="Amenities-image")
			div(class="Amenities-contaimerText left")
				h2(class="Amenities-subtitle") Kid's Club
				p(class="Amenities-paragraph") Para que los pequeños disfruten al máximo se crea un espacio didáctico que cuenta con una ludoteca donde podrán divertirse y aprender jugando, una guardería para que puedas aprovechar tu tiempo al máximo con la seguridad de que tus pequeños estarán en buenas manos.
				div(class="Amenities-buttonContainer")
					a(href="#contact", class="Amenities-button") Contacto

		div(class="Amenities-subContainer")
			div(class="Amenities-contaimerImages left")
				img(src="../public/images/amenities/Amenidades_Jogging_Bosques_de_Tepepan.JPG", alt="Amenidades Bosques de Tepepan" class="Amenities-image")
			div(class="Amenities-contaimerText right")
				h2(class="Amenities-subtitle") Pista de Jogging
				p(class="Amenities-paragraph") Pensando en que te gusta ejercitarte al exterior, contarás con una pista de jogging.
				div(class="Amenities-buttonContainer")
					a(href="#contact", class="Amenities-button") Contacto

		div(class="Amenities-subContainer")
			div(class="Amenities-contaimerImages right")
				img(src="../public/images/amenities/Amenidades_Cancha_Deportiva_Bosques_de_Tepepan.JPG", alt="Amenidades Bosques de Tepepan" class="Amenities-image")
			div(class="Amenities-contaimerText left")
				h2(class="Amenities-subtitle") Cancha Deportiva
				p(class="Amenities-paragraph") Pensando en los deportes de conjunto tendremos para ti una cancha deportiva multiusos.
				div(class="Amenities-buttonContainer")
					a(href="#contact", class="Amenities-button") Contacto

		div(class="Amenities-subContainer")
			div(class="Amenities-contaimerImages left")
				img(src="../public/images/amenities/Amenidades_CCTV_Bosques_de_Tepepan.JPG", alt="Amenidades Bosques de Tepepan" class="Amenities-image")
			div(class="Amenities-contaimerText right")
				h2(class="Amenities-subtitle") CCTV
				p(class="Amenities-paragraph") Hoy en día lo mas importante es nuestro patrimonio, es por ello que Bosque de Tepepan cuenta con una amplia gama de sistemas y servicios de seguridad electrónica, con la mas avanzada tecnología.
				div(class="Amenities-buttonContainer")
					a(href="#contact", class="Amenities-button") Contacto

		div(class="Amenities-subContainer")
			div(class="Amenities-contaimerImages right")
				img(src="../public/images/amenities/Amenidades_Estacionamiento _Verdes_Bosques_de_Tepepan.JPG", alt="Amenidades Bosques de Tepepan" class="Amenities-image")
			div(class="Amenities-contaimerText left")
				h2(class="Amenities-subtitle") Estacionamiento Subterráneo
				p(class="Amenities-paragraph") El estacionamiento subterráneo permitirá que los condominios transiten tranquilamente por el desarrollo.
				p(class="Amenities-paragraph") Contará con estacionamiento de visitas y adicionales además podrás adquirir alguna bodega.
				div(class="Amenities-buttonContainer")
					a(href="#contact", class="Amenities-button") Contacto