section(class="Landing", id="landing")
	div(class="Landing-container")
		div(id="imageTransition", class="Landing-image")
			div(class="Landing-transparentImage")
		div(class="Landing-mouseContainer")
			a(href="#about", class="Landing-mouseLink smooth")
				img(class="Landing-mouse", src="../public/images/mouse.png", alt="")
	include ../about/template.jade
	include ../counter/template.jade