section(id="home", class="Slider")
	div(class="Slider-container")
		div(id="imageOne", class="Slider-image Slider-imageOne Slider-visible")
			span(class="Slider-title bounceInUp") Bosques de Tepepan
				span(class="Slider-subtitle bounceInUp") !Un sueño que comienza¡
				div(class="Slider-buttonContainer")
					a(href="aboutUs.html", class="Slider-button Slider-buttonGreen bounceInUp") Contacto
		div(id="imageTwo", class="Slider-image Slider-imageTwo")
		div(id="imageTwo", class="Slider-image Slider-imageThree")
		div(id="imageTwo", class="Slider-image Slider-imageFour")
		div(id="imageTwo", class="Slider-image Slider-imageFive")
		div(id="imageTwo", class="Slider-image Slider-imageSix")
	div(class="Slider-mouseContainer")
		a(href="#proyect", class="Slider-mouseLink smooth")
			img(class="Slider-mouse", src="../public/images/mouse.png", alt="")

		span(class="Slider-btnControl")
			button(id="btnBack", class="Slider-btnBack") Atras
			button(id="btnNext", class="Slider-btnNext") Siguiente
	div(class="Slider-transparentImage")