@font-face
  font-family: 'icomoon'
  src: url('../fonts2/icomoon.eot?vnn5ur')
  src: url('../fonts2/icomoon.eot?vnn5ur#iefix') format('embedded-opentype'),
        url('../fonts2/icomoon.ttf?vnn5ur') format('truetype'),
        url('../fonts2/icomoon.woff?vnn5ur') format('woff'),
        url('../fonts2/icomoon.svg?vnn5ur#icomoon') format('svg')
  font-weight: normal
  font-style: normal

[class^="icon-"],
[class*=" icon-"]
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-phoneGlyphs:before
  content: "\e1352"

