/*	Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700")

/* Colors 	*/
green = #B1CC3E
greenBorder = #8EA040
brown 	= #663513
letterColor = #6D6D6D
borderListMobile = #333333
backgroundList	= #222222
grayBackground = #f2f2f2


.Strong
	font-weight bold
.afterLineDecoration
	&:after
		content ''
		display block
		margin-right auto
		width 10.5em
		height 5px
		background green
		margin-top 0
.buttonGreen
	border 3px solid green
.right
	right 2em
.left
	left 2em
.middleLine
	&:after
		text-align center
		content ''
		display block
		margin auto
		width 5em
		height 5px
		background green
		margin-top .5em