/*	Google Fonts. 	*/
@import "https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700"

/* Colors 	*/
green = #B1CC3E
brown = #663513
letterColor = #6D6D6D
// pinkOsmatik 	= #F97D75
// yellowOsmatik 	= #F1B136
// whiteOsmatik 	= #FFFFFF
// blackOsmatik 	= #000000
// greenOsmatik 	= #76DAB2
// orangeOsmatik 	= #F96706

borderListMobile = #333333
backgroundList 	 = #222222
// letterColor		 = #6D6D6D